#header {height:150px;background-color:#EAC100;z-index: 99999;padding:1em;}
#article {height:450px;background-color:#CAFFFF;z-index: 99999;padding:1em;background-repeat:no-repeat;}
#footer {height:50px;background-color:#EAC100;z-index: 99999;padding:1em;position:fixed;bottom: 0;
	left: 0;width: 100%;}
html{}
head{}
body{margin: 0}
h1{font-size:80px;
color:black;
text-align:center;}
p{font-size:20px;
color:black;
text-align:center;}
a{font-size: 20px;
text-align: center;
}
a:link{color:black;}
a:visited{color:#408080;}
a:hover{color:#D2E9FF;}
a:active{color:#007979;}
td{}
table{}
div{}