body{background-image:url("咖波圖片/2160x.png");
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;margin:0; }
img{height:150px ;
width:150px}
td{font-size: 150;border: 1px solid black;height: 250px;width: 250px;text-align: center;margin:0;}
table, th {border: 1px solid black;margin:0;}
p{font-size: 20px;
 color: deeppink;margin:0;}
h1{font-size: 50px;
 color: deeppink;margin:0;}