body{
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
	margin:0;}
img{height:150px ;
width:150px}
#div1{height:10%;background-color:#EAC100;position:sticky;top: 0;width:100%}
#div2{height:80%;width:15%;float:left;margin:0;background-color:white;box-sizing: border-box;}
#div2-1{height:200px;margin: 0}
#div3{height:80%;width:85%;float:right;margin:0;background-color:lightblue;box-sizing: border-box;padding:20px;}
#div3-1{height:200px;margin: 0}
#div4{height:10%;clear: both;margin:0;text-align: center;bottom: 0;position:sticky;}
#pdiv2{font-size: 20px}
#pdiv3{font-size: 20px;
 color: deeppink;
 text-align: center;
 top:80px;
 bottom:80px;
 /*margin:80px 0 80px;*/}
h1{font-size: 50px;
 color: deeppink;margin:0;}